@import '~@css-burgers/burger/styles.scss';
.burger.burger-squeeze {
  .burger-lines {
    &,
    &:after,
    &:before {
      transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
    }
    &:after,
    &:before {
      width: 2em;
    }
  }
  .burger-lines:after {
    left: 0;
    top: -1em;
  }
  .burger-lines:before {
    left: 1em;
    top: 1em;
  }
  &.open {
    .burger-lines {
      &,
      &:after,
      &:before {
        transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
      }
      & {
        background-color: transparent;
      }
      &:before,
      &:after {
        left: 0.5em;
        top: 0px;
      }
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
  }
}