
.burger.burger-rotate {
  .burger-lines {
    &:after,
    &:before {
      width: 2em;
    }
    &,
    &:after,
    &:before {
      transition: all .2s;
    }
  }
  
  &.open {
    transform: rotate(180deg);
    .burger-lines {
      & {
        background-color: transparent;
      }
      &:before,
      &:after {
        left: 0.5em;
        top: 0px;
      }
      &:before {
        transform: rotate(135deg);
      }
      &:after {
        transform: rotate(-135deg);
      }
    }
  }
}